@IF !SKIP_AUTHOR_HEADER@
<A NAME="AUTHOR"></A>
<DT><H3>@ARROW_UP@ Contacting the Author</H3>
<DD>
@ENDIF@

If you find a problem with this program or you would like to make a
suggestion, or whatever, feel free to e-mail me at
<A HREF="mailto:@EMAIL@?subject=@TITLE@">@EMAIL@</A>

