<LINK REV=MADE HREF="@MAIL_ACTION@">
<META NAME="author" CONTENT="Marco (LM) Lamberto - @EMAIL@">
@IF META_DESC@<META NAME="description" CONTENT="@META_DESC@">@ENDIF@
@IF META_KEYS@<META NAME="keywords" CONTENT="@META_KEYS@">@ENDIF@
<META NAME="generator" CONTENT="By Hand v1.0 with VIM for Linux + WPP ;)">
@IF BASE_TAG@<BASE @BASE_TAG@>@ENDIF@
