@MACRO WPP_LOGO(TEXT, LOGO)@
	<DL>
	<DT>@TEXT@
	<DD>@HTML_IMAGE("@IMG_DIR@@LOGO@", "", "BORDER=2")@&nbsp;
	<IMG SRC="@TSS_IMG_DIR@null.gif" ALT="" WIDTH=1 HEIGHT=32 BORDER=2>
	<DD><IMG SRC="@TSS_IMG_DIR@null.gif" ALT="" WIDTH=90 HEIGHT=1 BORDER=2>
	</DL>
@ENDMACRO@
