<!-- -->
	</FONT>
	</TD>
	</TABLE>
</TD>
<TD BGCOLOR="@BOX_FRAME_COL@"><IMG
	SRC="@BOX_FRAME_IMG@" WIDTH=@BOX_FRAME_SIZE@ HEIGHT=@BOX_FRAME_SIZE@
	ALT=""></TD>
<TR><TD COLSPAN=3 BGCOLOR="@BOX_FRAME_COL@"><IMG
	SRC="@BOX_FRAME_IMG@" WIDTH=@BOX_FRAME_SIZE@ HEIGHT=@BOX_FRAME_SIZE@
	ALT=""></TD>
</TABLE>
<!-- BOX CLOSE -->
