@ALIGN=@

@IF !BOX_FRAME_IMG@
	@BOX_FRAME_IMG=null.gif@
@FI@
@IF !BOX_FRAME_SIZE@
	@BOX_FRAME_SIZE=1@
@FI@
@IF !BOX_FRAME_COL@
	@BOX_FRAME_COL=#000000@
@FI@

<!-- BOX OPEN -->
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0
@IF BOX_WIDTH@
WIDTH="@BOX_WIDTH@"
@FI@
@IF BOX_HEIGHT@
HEIGHT="@BOX_HEIGHT@"
@FI@
>

@IF BOX_TITLE@
<TR><TD COLSPAN=3 BGCOLOR="@BOX_FRAME_COL@" 
	@IF BOX_TITLE_ALIGN@
ALIGN=@BOX_TITLE_ALIGN@
	@FI@
><FONT 
	@IF BOX_TITLE_FACE@
FACE="@BOX_TITLE_FACE@"
	@FI@
	@IF BOX_TITLE_SIZE@
SIZE="@BOX_TITLE_SIZE@"
	@FI@
	@IF BOX_TITLE_COL@
COLOR="@BOX_TITLE_COL@"
	@FI@
><B>@BOX_TITLE@</B></FONT></TD>
@ELSE@
<TR><TD COLSPAN=3 BGCOLOR="@BOX_FRAME_COL@"><IMG
	SRC="@BOX_FRAME_IMG@" WIDTH=@BOX_FRAME_SIZE@ HEIGHT=@BOX_FRAME_SIZE@
	ALT=""></TD>
@FI@

<TR><TD BGCOLOR="@BOX_FRAME_COL@"><IMG
	SRC="@BOX_FRAME_IMG@" WIDTH=@BOX_FRAME_SIZE@ HEIGHT=@BOX_FRAME_SIZE@
	ALT=""></TD>
<TD
@IF BOX_COL@
BGCOLOR="@BOX_COL@"
@FI@
@IF BOX_ALIGN@
ALIGN=@BOX_ALIGN@
@FI@
>

	<TABLE BORDER=0>
	<TR><TD>
	<FONT FACE="helvetica">
<!-- -->

