@ALIGN=@

@MACRO BOX_OPEN(TITLE, TITLE_ALIGN, TITLE_FACE, TITLE_SIZE, TITLE_COL,\
	WIDTH, HEIGHT, FRAME_SIZE, FRAME_COL, COL)@
@IF !FRAME_SIZE@ @FRAME_SIZE=1@ @ENDIF@
@IF !FRAME_COL@ @FRAME_COL=#000000@ @ENDIF@
<!-- BOX Open -->
<TABLE CELLSPACING=0 CELLPADDING=@FRAME_SIZE@ BORDER=0
	@IF WIDTH@ WIDTH="@WIDTH@" @ENDIF@
	@IF HEIGHT@ HEIGHT="@HEIGHT@" @ENDIF@
>
@IF TITLE@
<TR><TD BGCOLOR="@FRAME_COL@"
	><TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
	<TR><TD
		@IF TITLE_ALIGN@ ALIGN=@TITLE_ALIGN@ @ENDIF@
	BGCOLOR="@FRAME_COL@"><FONT 
		@IF TITLE_FACE@ FACE="@TITLE_FACE@" @ENDIF@
		@IF TITLE_SIZE@ SIZE="@TITLE_SIZE@" @ENDIF@
		@IF TITLE_COL@ COLOR="@TITLE_COL@" @ENDIF@
	>@TITLE@</FONT></TD>
@ENDIF@
	<TR><TD
		@IF COL@ BGCOLOR="@COL@" @ENDIF@
		@IF ALIGN@ ALIGN=@ALIGN@ @ENDIF@
	><FONT FACE="arial,helvetica">
<!-- -->
@ENDMACRO@






@MACRO BOX_CLOSE()@
<!-- -->
	</FONT>
	</TD>
	</TABLE></TD>
</TABLE>
<!-- BOX Close -->
@ENDMACRO@
