@IF !H_SECTION@
@MACRO H_SECTION(TITLE, NAME)@
<!-- @TITLE@ -->
<DT><P>
<TABLE WIDTH="100%" CELLSPACING=0 CELLPADDING=0 BORDER=0>
<TR><TD BGCOLOR="#eecc66"><A NAME="@NAME@">&nbsp;&nbsp;</A><FONT
	@FONT@><B>@TITLE@</B></FONT></TD>
	<TD BGCOLOR="#eecc66" ALIGN=right>@ARROW_UP@</TD>
</TABLE>
<DD><P>
@ENDMACRO@
@ENDIF@

@IF !H_COMMENT@
@MACRO H_COMMENT(TEXT)@
<FONT @COL_COMMENTS@>@TEXT@</FONT>
@ENDMACRO@
@ENDIF@

@IF !H_PARAM@
@MACRO H_PARAM(TEXT)@
<FONT @COL_PARAMS@>@TEXT@</FONT>
@ENDMACRO@
@ENDIF@

@IF !HTML_COMMENT@
@MACRO HTML_COMMENT(TEXT)@
<FONT @COL_COMMENTS@>&lt;!-- @TEXT@ --&gt;</FONT>
@ENDMACRO@
@ENDIF@

@IF !HELV_FONT@
@MACRO HELV_FONT(TEXT)@
<FONT @FONT@>@TEXT@</FONT>
@ENDMACRO@
@ENDIF@

@IF !H_FONT@
@MACRO H_FONT(TEXT)@
@H_FONTC("@TEXT@", "")@
@ENDMACRO@
@ENDIF@

@IF !H_FONTC@
@MACRO H_FONTC(TEXT, COL)@
@IF COL@
	@FCOL=COLOR="@COL@"@
@ELSE@
	@FCOL=@
@ENDIF@
<FONT @FONT@ @FCOL@>@TEXT@</FONT>
@ENDMACRO@
@ENDIF@
