<DL>
<DT><A HREF="raw/@TEMPLATE@">TEMPLATE [@TEMPLATE@]</A>
@IF INC2@
	@INCLUDE tests/include2@
@FI@
<DT><A HREF="raw/@INCLUDE@">Last included template [@INCLUDE@]</A>
<DT><A HREF="raw/@TEMPLATE@">END [@TEMPLATE@]</A>
</DL>
