@H_SECTION("Configuration variables and directives (only valid in config files or with the <A HREF=\"manual_1.html#-D\">-D switch</A>)", "CONFIGURATION")@

<DL>

<DT><P><A NAME="INCLUDECFG"> @AT@INCLUDECFG cfg@AT@</A>
<DD>
  Include a config file.

<DT><P><A NAME="DEFAULT_HEAD"> @AT@DEFAULT_HEAD=hname@AT@</A>
<DD>
  Sets the default header without the template extension and directory
  (default 'head').

<DT><P><A NAME="DEFAULT_TAIL"> @AT@DEFAULT_TAIL=tname@AT@</A>
<DD>
  Set the default footer without the template extension and directory (default
	'tail').

<DT><P><A NAME="DEFAULT_TMPLDIR"> @AT@DEFAULT_TMPLDIR=tdir@AT@</A>
<DD>
  Sets the templates directory (default 'templates').

<DT><P><A NAME="DEFAULT_OUTPUTDIR"> @AT@DEFAULT_OUTPUTDIR=odir@AT@</A>
<DD>
  Sets the output directory (default '..'), if you want to use the same
  directory for .raw and .html files sets '@AT@DEFAULT_OUTPUTDIR=.@AT@'.

<DT><P><A NAME="DEFAULT_EXTENSION"> @AT@DEFAULT_EXTENSION=ext@AT@</A>
<DD>
  Sets the extension for the output files (default 'html'), the dot is added
	internally by WPP.

<DT><P> @AT@DEFAULT_RAW_EXTENSION=ext@AT@
<DD>
  Sets the extension for the input files (default 'raw'), the dot is added
	internally by WPP.

<DT><P> @AT@DEFAULT_TMPL_EXTENSION=ext@AT@
<DD>
  Sets the extension for the template files (default 'tmpl'), the dot is added
	internally by WPP.
</DL>


